api.json
data
bodies
log
idlist
runtime_info
rid
mercy
praw
praw-master.zip
aid
jid
reasoning
ignore_list
pyenv
cid
__pycache__/
__venv__
.idea
__pycache__
teste
__venv__/
venv
.gemini
.pyen
cpvenv
.vs
.vscode
